<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addComment</title>
    <!--STYLESHEET-->
    <link type="text/css" rel="stylesheet" href="../static/stylesheet/3dhop.css"/>
</head>
<body>
<header>Add Comment</header>
<div class="CommentForm">
    <form>
      <label for="Header">Header:</label><br>
      <input type="header" id="Header" name="Header"><br>
      <label for="content">content:</label><br>
      <input type="content" id="content" name="content"><br><br>
      <label for="add">add files(optional):</label><br>
      <input type="file" id="add" name="add">
    </form>
</div>

</body>
</html>

<script>
var input = document.getElementById('add');
input.addEventListener('change', function() {
  var file = input.files[0];
  console.log('Selected file: ' + file.name);
  console.log('file size'+ file.size)
  //when someone upload a new comment - save it to database - this is the way to accsses the file name !!!!!!!!!!!!!!!! now its just print the name to console
});
</script>