doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title addComment
    // STYLESHEET
    link(type='text/css', rel='stylesheet', href='stylesheet/3dhop.css')
  body
    header Note
    .FullNote
      div
        | Header:
        div #{header}
      div
        | Content:
        div #{content}
      div
        | File:
        div #{file}
      div
        | Date:
        div #{date}

